@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Armata&family=Teko&family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Arbutus", sans-serif

}

body {
    background: rgb(213, 212, 255);
    color: black;
    font-weight: 500;
    display: flex;
    min-height: 100vh;

}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

h1 {
    color: rgb(31, 31, 139);
    font-size: 3 rem;
    margin-bottom: 2rem;
    font-family: Teko;
    text-transform: uppercase;
    font-size: 50px;
    
}

main .redes {
    display: flex;
    align-content: center;
}

main .redes a {
    text-decoration: none;
}

main .redes img {
    width: 36px;
    margin-left: 2rem;

}

main .redes a:first-child img{
    margin-left: 0;

}
main .outro {
    margin-top: 1rem;

}

main .outro span {
    font-weight: 550;
    color: rgb(139, 139, 248);
    position: relative;
    cursor: pointer;
}

main .outro span::before, main .outro span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    background: rgb(139, 139, 248);
    bottom: 50%;
    right: 50px;


}

main .outro span::after {
    left: 50px;
}


main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input{
    background: rgb(185, 185, 255);
    width: 300px;
    height: 40px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    border: 1px solid rgb(140, 140, 250);
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: rgb(129, 129, 245);
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover { /*muda a cor quando o mouse ta em cima */
    background: rgb(85, 85, 250);
}

section.imagens {
    display: flex;
    align-items: center;

}

section.imagens img {
    width: 400px;
}

section.imagens .circulo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgb(157, 205, 236), rgb(48, 103, 105));
    clip-path: circle(40% at right 90%);
    z-index: -1; /*deixa atras a posiação */


}